*.iml
*.ipr
*.iws
*.txt
*.ser
*.idx
*.zip
*.tmp.gz
build/
reports/
lib/*.jar
*target*

version.properties

ivy-report.css
build-eclipse/

.classpath
.project
.scala_dependencies
.idea
.idea_modules
atlassian-ide-plugin.xml
